.header{
    background-color: #222222;
    grid-area: 1 / 1 / 2 / 9;
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
.title {
    
    color: white;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}
.basketImg {
    /* margin-left: calc(50vw - 100px); */
    width: 80px;
    margin-top: 10px;
}